<div class="container">
    <app-participant-registration-form-personal *ngIf="currentStage === 0" [(participant)]="participant">
    </app-participant-registration-form-personal>

    <app-participant-registration-form-education *ngIf="currentStage === 1" [(participant)]="participant">
    </app-participant-registration-form-education>

    <p *ngIf="currentStage === 2">Завершено
    </p>
</div>
<br/>
<div class="container">
    <div class="form-group row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" *ngIf="currentStage !==0" (click)="currentStage = currentStage-1">Назад
            </button>
        </div>
        <div class="col-sm-2">
            <button style="float: right" class="btn btn-primary" *ngIf="currentStage < totalStages"
                    (click)="currentStage = currentStage + 1">
                Вперед
            </button>
        </div>
    </div>
</div>