<div class="olymp_list_item">
    <div class="olymp_status">
        <span>{{ getStatusDisplay() }}</span>
    </div>
    <div class="olymp_subtitle">
        <p>
            <span>{{ getClassesForDisplay() }} классы</span>
            <span>{{ contest.contest?.base_contest?.subject }}</span>
            <span>Уровень {{ contest.contest?.base_contest?.level }}</span>
        </p>
    </div>

    <div class="olymp_title">
        <p>{{contest.contest?.contest_id}}. {{ contest.contest?.base_contest?.name }}</p>
    </div>

    <div class="olymp_link">
        <a (click)="navigateTo()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M18 6L16.57 7.393L24.15 15H4V17H24.15L16.57 24.573L18 26L28 16L18 6Z" fill="#171717"/>
            </svg>
        </a>
    </div>
</div>
<div class="org-divider"></div>