<div class="olymp_list_item">
    <div class="olymp_status">
        <span>{{ getStatusDisplay() }}</span>
    </div>
    <div class="olymp_subtitle">
        <p>
            <span>{{ getClassesForDisplay() }} классы</span>
            <span>{{ getSubjectDisplay() }}</span>
            <span>Уровень {{ contest.contest?.base_contest?.level }}</span>
        </p>
    </div>

    <div class="olymp_title">
        <p>{{ contest.contest?.base_contest?.name }}</p>
    </div>

    <div class="olymp_link">
        <button (click)="navigateTo()" class="btn btn-link">
            <span>Участвовать</span>
        </button>
    </div>
</div>
<div class="org-divider"></div>