<div class="profile-form_item">
    <p class="profile-form_label">Серия паспорта</p>
    <input class="profile-form_input" placeholder="Введите серию паспорта" type="text" name="series" #series="ngModel"
           [(ngModel)]="model.series" (ngModelChange)="onModelChange()" [pattern]="seriesPattern" required>
    <small class="form-text text-muted">Пример: 1234</small>
    <ng-container [ngTemplateOutlet]="validationTemplate"
                  [ngTemplateOutletContext]="{fieldName:series}">
    </ng-container>
</div>

<div class="profile-form_item">
    <p class="profile-form_label">Номер паспорта</p>
    <input class="profile-form_input" placeholder="Введите номер паспорта" type="text" name="number" #number="ngModel"
           [(ngModel)]="model.number" (ngModelChange)="onModelChange()" [pattern]="numberPattern" required>
    <small class="form-text text-muted">Пример: 123456</small>
    <ng-container [ngTemplateOutlet]="validationTemplate"
                  [ngTemplateOutletContext]="{fieldName:number}">
    </ng-container>
</div>

<div class="profile-form_item">
    <p class="profile-form_label">Кем выдан</p>
    <textarea class="profile-form_input" placeholder="Введите место выдачи" name="issuer" #issuer="ngModel"
              [(ngModel)]="model.issuer" (ngModelChange)="onModelChange()" [maxlength]="256" required></textarea>
    <ng-container [ngTemplateOutlet]="validationTemplate"
                  [ngTemplateOutletContext]="{fieldName:issuer}">
    </ng-container>
</div>

<div class="profile-form_item">
    <p class="profile-form_label">Когда выдан</p>
    <input class="profile-form_input" placeholder="Введите дату выдачи паспорта" type="date" name="issue_date"
           #issue_date="ngModel" [(ngModel)]="model.issue_date" (ngModelChange)="onModelChange()" required>
    <ng-container [ngTemplateOutlet]="validationTemplate"
                  [ngTemplateOutletContext]="{fieldName:issue_date}">
    </ng-container>
</div>

<div class="profile-form_item">
    <p class="profile-form_label">Код подразделения</p>
    <input class="profile-form_input" placeholder="Введите код подразделения" type="text" name="code" #code="ngModel"
           [(ngModel)]="model.code" required [pattern]="codePattern">
    <small class="form-text text-muted">Пример: 123-456</small>
    <ng-container [ngTemplateOutlet]="validationTemplate"
                  [ngTemplateOutletContext]="{fieldName:code}">
    </ng-container>
</div>

<ng-template #validationTemplate let-fieldName='fieldName'>
    <div *ngIf="fieldName.invalid" class="input_error">
        <div *ngIf="fieldName.errors?.required">
            Поле обязательно для заполнения
        </div>
        <div *ngIf="fieldName.errors?.pattern">
            Значение введено некорректно
        </div>
    </div>
</ng-template>