<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
        <a routerLink="/" routerLinkActive="active"
           class="navbar-brand text-dark text-decoration-none home-link"
           title="На главную">
            <span class="site-title">Портал<br>олимпиад</span>
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/user" *ngIf="isAuthorized$ | async">Профиль</a>
            </li>
            <li class="nav-item divider">
                <span>/</span>
            </li>
            <li class="nav-item">
                <a href="https://admission.mephi.ru">Приемная комиссия</a>
            </li>
            <li class="nav-item divider">
                <span>/</span>
            </li>
            <li class="nav-item">
                <a href="https://school.mephi.ru">Сетевая школа</a>
            </li>
            <li class="nav-item divider">
                <span>/</span>
            </li>
            <li class="nav-item">
                <a href="https://open.mephi.ru">Прием онлайн</a>
            </li>
        </ul>

        <div class="actions">
            <div class="button_container">
                <a class="button_auth" routerLink="/login"
                   routerLinkActive="active"
                   *ngIf="!(isAuthorized$ | async)">Авторизация</a>
            </div>
            <div class="button_container">
                <a class="button_register" routerLink="/register"
                   routerLinkActive="active"
                   *ngIf="!(isAuthorized$ | async)">Регистрация</a>
            </div>
            <div class="button_container dropdown" *ngIf="isAuthorized$ | async">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                   aria-expanded="false" *ngIf="commonUserInfo$ | async as userInfo">
                    {{ userInfo.username }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>