@import "src/styles/colors";

header {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: static;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  border-bottom: 2px solid #171717;

  .header_sandwich {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 0 2px 0 0;
    width: 66px;
    height: 64px;
    border-right: 2px solid #171717;
  }

  .header_logo {
    position: static;
    width: 97px;
    height: 64px;
    left: 90px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
  }

  .header_actions_container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;

    .header_action {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      padding: 0 2px 0 0;
      width: 66px;
      height: 64px;
      border-left: 2px solid #171717;
    }

    .header_action:hover {
      border: none;
      background-image: linear-gradient(114.44deg, #206ac4 0%, #0055BB 44.27%, #023d85 100%);
      transform: scale(1.01);
      transition: all 500ms ease;
      color: #FFFFFFFF;

      svg {
        color: #FFFFFFFF;
        fill: #FFFFFFFF;
        stroke: #FFFFFFFF;;
      }
    }
  }
}