<div #modal class="add-user-modal" *ngIf="modalVisible">
    <div class="add-user-modal-content">
        <svg (click)="modalVisible = false" width="22" height="23" viewBox="0 0 22 23" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.92773L17.2097 17.6374" stroke="#14142B" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M4.5 17.6367L16.2097 5.92702" stroke="#14142B" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
        </svg>
        <div class="add-user-form-container">
            <h2></h2>
            <h4>Просьба заполнить все поля</h4>
            <div class="form-group row">
                <div class="col-sm-12">
                    <h4>Выберите тип регистрации</h4>
                    <select [(ngModel)]="selectedUserType" class="form-control">
                        <option *ngFor="let registerType of registerTypes" [value]="registerType">
                            {{ registerType }}
                        </option>
                    </select>
                </div>
            </div>
            <br/>
            <div *ngIf="isAvailable(); else notSupported">
                <ng-container *ngIf="isRegistered; else registrationForm">
                    <div class="alert alert-success" *ngIf="isRegistered">
                        Регистрация успешно завершена
                    </div>
                </ng-container>
            </div>


            <ng-template #notSupported>
                <div *ngIf="selectedUserType" class="alert alert-warning" role="alert">
                    Данный тип регистрации временно недоступен
                </div>
            </ng-template>

            <ng-template #registrationForm>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input class="form-control" type="email" email required
                               [(ngModel)]="registerAttempt.auth_info.email"
                               #email="ngModel"
                               name="email"
                               placeholder="E-mail">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                             class="error-message">
                            <div *ngIf="email.errors?.required">
                                Поле обязательно для заполнения
                            </div>
                            <div *ngIf="email.errors?.email">
                                Невалидный e-mail
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input class="form-control" type="password" required minlength="6" #password="ngModel"
                               name="password"
                               placeholder="Пароль"
                               [(ngModel)]="registerAttempt.auth_info.password">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                             class="error-message">
                            <div *ngIf="password.errors?.required">
                                Поле обязательно для заполнения
                            </div>
                            <div *ngIf="password.errors?.minlength">
                                Пароль должен содержать не менее 6-ти символов
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" required
                               [(ngModel)]="registerAttempt.personal_info.first_name"
                               #name="ngModel"
                               name="name"
                               placeholder="Имя">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                             class="error-message">
                            <div *ngIf="name.errors?.required">
                                Поле обязательно для заполнения
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" required
                               [(ngModel)]="registerAttempt.personal_info.second_name"
                               #surname="ngModel"
                               name="surname"
                               placeholder="Фамилия">
                        <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"
                             class="error-message">
                            <div *ngIf="surname.errors?.required">
                                Поле обязательно для заполнения
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input class="form-control" type="text" required
                               [(ngModel)]="registerAttempt.personal_info.middle_name"
                               #lastName="ngModel"
                               name="lastName"
                               placeholder="Отчество">
                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                             class="error-message">
                            <div *ngIf="lastName.errors?.required">
                                Поле обязательно для заполнения
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input class="form-control" type="date" required placeholder="Дата рождения"
                               [(ngModel)]="registerAttempt.personal_info.date_of_birth"
                               #birthDate="ngModel"
                               name="birthDate">
                        <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)"
                             class="error-message">
                            <div *ngIf="birthDate.errors?.required">
                                Поле обязательно для заполнения
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary" [disabled]="!isValid(registerAttempt)"
                        (click)="register(registerAttempt)">
                    Зарегистрировать
                </button>
            </ng-template>
        </div>
    </div>
</div>