<div class="manage-container_main">
    <div class="row">
        <div class="col-md-3">
            <app-manage-navbar></app-manage-navbar>
        </div>
        <div class="col-md-9">
            <h2 class="pt-1 pb-3">Управление олимпиадами</h2>
            <dx-data-grid
                [dataSource]="baseContests"
                width="100%"
                [showColumnLines]="false"
                [showRowLines]="true"
                [showBorders]="true"
                [columnAutoWidth]="true"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                keyExpr="base_contest_id"
                (onSelectionChanged)="selectedChanged($event)">

                <dxi-column dataField="base_contest_id" caption="ID"></dxi-column>
                <dxi-column dataField="name" caption="Название"></dxi-column>
                <dxi-column dataField="description" caption="Описание"></dxi-column>
                <dxi-column dataField="level" caption="Уровень">
                    <dxo-lookup [dataSource]="levelEnum"></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="olympiad_type_id" caption="ID типа"></dxi-column>
                <dxi-column dataField="rules" caption="Правила"></dxi-column>
                <dxi-column dataField="subject" caption="Предмет">
                    <dxo-lookup [dataSource]="subjectEnum"></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="target_classes"></dxi-column>
                <!---TODO Array<TargetClass>--->
                <dxi-column dataField="winner_1_condition" caption="Условия на победу 1"></dxi-column>
                <dxi-column dataField="winner_2_condition" caption="Условия на диплом 2"></dxi-column>
                <dxi-column dataField="winner_3_condition" caption="Условия на диплом 3"></dxi-column>
                <dxi-column dataField="diploma_1_condition" caption="Условия на диплом 1"></dxi-column>
                <dxi-column dataField="diploma_2_condition" caption="Условия на диплом 2"></dxi-column>
                <dxi-column dataField="diploma_3_condition" caption="Условия на диплом 3"></dxi-column>

                <dxo-selection mode="single"></dxo-selection>
                <dxo-grouping [autoExpandAll]="false" [contextMenuEnabled]="true"></dxo-grouping>
                <dxo-group-panel [visible]="true"></dxo-group-panel>

                <dxo-scrolling mode="standard" [useNative]="true"></dxo-scrolling>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                <dxo-editing mode="popup">
                    <dxo-texts confirmDeleteMessage=""></dxo-texts>
                </dxo-editing>

                <dxo-export [enabled]="true"></dxo-export>
                <dxo-paging [pageSize]="25"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
                <dxo-state-storing [enabled]="true" type="localStorage"
                                   storageKey="app-manage-base-contests"></dxo-state-storing>
            </dx-data-grid>

            <dx-speed-dial-action
                icon="arrowdown"
                label="Составные олимпиады"
                [index]="1"
                [visible]="selectedRowIndex !== -1"
                (onClick)="navigateToSelectedElement()">
            </dx-speed-dial-action>
            <dx-speed-dial-action
                icon="edit"
                label="Изменить"
                [index]="2"
                [visible]="selectedRowIndex !== -1"
                (onClick)="editElement()">
            </dx-speed-dial-action>
            <dx-speed-dial-action
                icon="add"
                label="Добавить"
                [index]="3"
                (onClick)="addElement()">
            </dx-speed-dial-action>
        </div>
    </div>
</div>