<div class="container">
    <a routerLink="/">
        <img src="/assets/mephi-logo.png" class="img-responsive img-static">
    </a>
    <div class="row">
        <div class="col-md-8">
            <h1 class="title">Информационная система «Абитуриент-студент»</h1>
            <div class="image">
                <img src="/assets/login.png" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4">
            <router-outlet></router-outlet>
        </div>
    </div>

    <span class="copyright">© 2021, НИЯУ «МИФИ»</span>
</div>