@import "src/styles/colors";

.container_main {
  padding-right: 10%;
  padding-left: 10%;
  margin: auto;
}

#olympiads, #results, #application, #services {
  width: 100%;
  min-height: 276px;
}

#olympiads {
  background-color: $blue;

  .title_container, .collapsible_container {
    display: flex;
    align-items: center;
  }

  .title_container {
    .text_container {
      width: 50%;
      color: $white;
      position: absolute;
      left: 15%;
      font-family: 'Roboto', sans-serif;
    }

    p.title {
      font-style: normal;
      font-size: 39.1px;
      line-height: 36.55px;
      letter-spacing: -0.5px;
      word-wrap: normal;
    }

    p.subtitle {
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
  }


  .collapsible_container {
    flex-direction: row;
    justify-content: center;
    justify-items: center;

    svg {
      margin: auto auto;
      margin-right: 0;
    }

    .divider {
      width: 30%;
      margin: auto;
      border: 1px dashed #CCCCCC;
      transform: rotate(-180deg);
      position: absolute;
    }

    #button_collapse {
      position: absolute;
      height: 40px;
      width: 40px;

      svg {
        position: absolute;
        top: 18px;
        right: 12px;

      }
    }
  }
}


#results {
  background: $lightblue;

  .title_container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;

    .text_container {
      width: 20%;
      color: $blue;
      position: absolute;
      left: 15%;
      font-family: 'Roboto', sans-serif;
    }

    p.title {
      font-style: normal;
      font-size: 39.1px;
      line-height: 36.55px;
      letter-spacing: -0.5px;
      word-wrap: normal;
    }

    p.subtitle {
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
  }

  .logo_container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
  }

  .actions_container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    padding: 5%;

    .divider {
      border: 1px dashed $blue;
    }

    .results_button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10.5px;
      margin-top: 15%;
      background: $blue;
      border: 1px solid $blue;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      text-align: center;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: $white;
    }

    .results_button:hover {
      background-color: $blue_darker;
    }
  }
}

#application {
  background: $blue_lighter;

  .title_container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;

    .text_container {
      width: 20%;
      color: $white;
      position: absolute;
      left: 15%;
      font-family: 'Roboto', sans-serif;
    }

    p.title {
      font-style: normal;
      font-size: 39.1px;
      line-height: 36.55px;
      letter-spacing: -0.5px;
      word-wrap: normal;
    }

    p.subtitle {
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
  }

  .actions_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

    .row {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
      right: 15%;
      width: 40%;
      border-top: 1px dashed $white;
      padding-top: 3%;


      .col-sm-6,
      .col-sm-6 {
        padding: 0;
        height: 100%;
      }

      .button_white, .button_blue {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10.5px;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        text-decoration: none;
      }

      .button_white {
        color: #001E94;
        background: $white;
        border: 1px solid $white;
      }

      .button_blue {
        border: 1px solid $white;
        color: $white;
      }

      .button_white:hover, .button_blue:hover {
        background-color: rgba($blue_darker, 0.4);
      }

      .button_white:hover {
        color: $white;
      }
    }
  }
}

#services {
  background: $lightblue;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
