<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="../../../../assets/style-imagery-bestpractices-focus5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Олимпиады</h5>
                    <p class="card-text">Для участия в олимпиаде заполните анкету участника олимпиад, нажав на кнопку
                        ниже</p>
                    <a class="btn btn-primary" routerLink="/user/olymp">Заполнить анкету</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../../../assets/picture.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Личные данные</h5>
                    <p class="card-text">Для просмотра и редактирования личных данных перейдите в личный кабинет</p>
                    <a class="btn btn-primary"  routerLink="/user/cabinet">Личный кабинет</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../../../assets/style-imagery-bestpractices-focus1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Регистрационная карточка</h5>
                    <p class="card-text">Для участия в олимпиадах необходимо иметь распечатанную
                        регистрационную карточку</p>
                    <button class="btn btn-primary"  >Регистрационная карточка</button>
                </div>
            </div>
        </div>
    </div>
</div>