<div class="form_group">
    <p class="auth-text_help">Уже есть учётная запись? <a routerLink="/auth/login">Войти в систему</a></p>
    <p class="auth-text_help">Ещё нет учётной записи? <a routerLink="/auth/register">Зарегистрироваться</a></p>
    <p class="auth-text_help">Забыли пароль? <a routerLink='/auth/reset-password/request'>Сбросить пароль</a></p>
    <p class="auth-text_help">Не пришло письмо для активации учётной записи? <a routerLink='/auth/confirm-account/request'>Отправить повторно</a></p>
    <p class="auth-text_help">Если у вас возникли проблемы при регистрации или вводе информации, обращайтесь:
        orgnew@mephi.ru</p>
</div>