@import "colors";

.auth-text_help {
  margin-bottom: 1%;
  color: $grey;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
}

.form_container {
  padding-left: 7%;
}

.form_title {
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 50px;
  color: $black;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0;
}

.form_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0;
}

.form_group {
  padding-bottom: 15%;

  .form_label {
    margin-top: 10%;
    margin-bottom: 2px;
  }

  input {
    width: 100%;
  }

  a {
    color: $blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: $blue solid;
  }

  p {
    margin-bottom: 1%;
    color: $grey;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
  }
}