$primary: #3e57a7;
$secondary: #566fb5;
$success: #25b98f;
$warning: #f7b716;
$error: #eb2056;

$blue_darker: #011b68;
$white: #FFFFFF;
$blue_lighter: #0C32C6;
$lightblue: #F7FCFF;

$black: #171717;
$grey: #565656;
$blue: #0055BB