<div class="container_main" [style]="{'min-height': minContainerHeight + 'px'}">
    <div id="table-header">
        <div class="row">
            <div class="col-md-1">
                <button class="button-round" id="add-user-button" (click)="addVisible = true">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.375 7C11.375 5.06625 9.80875 3.5 7.875 3.5C5.94125 3.5 4.375 5.06625 4.375 7C4.375 8.93375 5.94125 10.5 7.875 10.5C9.80875 10.5 11.375 8.93375 11.375 7ZM13.125 8.75V10.5H15.75V13.125H17.5V10.5H20.125V8.75H17.5V6.125H15.75V8.75H13.125ZM0.875 15.75V17.5H14.875V15.75C14.875 13.4225 10.2112 12.25 7.875 12.25C5.53875 12.25 0.875 13.4225 0.875 15.75Z"
                            fill="white"/>
                    </svg>
                </button>
            </div>
            <div class="col-md-2">
                <span>Добавить</span>
            </div>
        </div>
        <div id="table-container" class="ag-theme-alpine"
             *ngIf="olympiads$ | async as olympiads" [style]="{'min-height': minContainerHeight - 86 + 'px'}">
            <ag-grid-angular
                #table_contests
                pagination="true"
                [style]="{'height': minContainerHeight + 'px'}"
                id="table_contests"
                [rowSelection]="'single'"
                [rowData]="olympiads"
                [columnDefs]="columnDefs"
                [rowHeight]="50"
                [getRowNodeId]="getRowNodeId">
            </ag-grid-angular>
        </div>
    </div>
</div>
<app-add-contest-modal (addOlympiad)="onAdd($event)" [(modalVisible)]="addVisible"></app-add-contest-modal>