footer {
  position: fixed;
  height: 167px;
  bottom: 0;
  width: 100%;
  background: #F8F9FA;
  border-top: 1px solid #CCCCCC;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  overflow: auto;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #828282;
  margin-bottom: 0;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4D4D4D;
  margin-bottom: 0;
}

svg {
  float: left;
}

.col-md-6, .col-md-2 {
  justify-items: start;
  justify-content: start;
  flex-direction: column;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}