footer {
  clear: both;
  position: relative;
  height: 100px;
  width: 100%;
  padding: 7%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .footer_start, .footer_end {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: #565656;
  }

  .footer_end {
    position: absolute;
    right: 7%;

    span {
      margin-right: 20px;
    }
  }
}