<footer class="footer fixed-bottom bg-light">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-3">
                <div class="title">Контактные телефоны:</div>
                <div class="phone">+7&nbsp;800&nbsp;775-15-51 (по&nbsp;России)</div>
                <div class="phone">+7&nbsp;495&nbsp;785-55-25 (по&nbsp;Москве)</div>
            </div>
            <div class="col-2">
                <div class="title">Электронная почта:</div>
                <div class="mailto"><a href="mailto:olympiad@mephi.ru">olympiad@mephi.ru</a></div>
            </div>
        </div>
    </div>
</footer>