<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2 icon">
                    <svg class="img-responsive" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="30" fill="#2249E0"/>
                        <path
                            d="M41.6667 21.6667H18.3334V40.3333H41.6667V21.6667ZM39.3334 26.3333L30 32.1667L20.6667 26.3333V24L30 29.8333L39.3334 24V26.3333Z"
                            fill="white"/>
                    </svg>
                </div>
                <div class="col-md-10 contact">
                    <p class="title">Электронная почта</p>
                    <p class="subtitle"><a href="mailto:olympiad@mephi.ru">olympiad@mephi.ru</a></p>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2 icon">
                    <svg class="img-responsive" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="30" r="30" fill="#4E73FF"/>
                        <path
                            d="M39.4999 35.0367L33.3516 34.325L30.4116 37.265C27.1099 35.585 24.4032 32.89 22.7232 29.5767L25.6749 26.625L24.9632 20.5H18.5349C17.8582 32.3767 27.6232 42.1417 39.4999 41.465V35.0367Z"
                            fill="white"/>
                    </svg>

                </div>
                <div class="col-md-10 contact">
                    <p class="title">Контактные телефоны</p>
                    <p class="subtitle">+7 800 775-15-51 (по России) | +7 495 785-55-25 (по Москве)</p>
                </div>
            </div>
        </div>
    </div>
</footer>