<div class="container">
    <div class="row">
        <ng-container *ngIf="viewModel$ | async as viewModel">
            <div class="col-md-4">
                <div class="profile_title_container">
                    <div class="profile_title">
                        Профиль пользователя
                    </div>
                    <div class="profile_subtitle">
                        <div class="profile_menu-divider profile_menu-divider-active"><div class="profile_menu-item profile_menu-item-active">Основная информация</div></div>
                        <div class="profile_menu-divider"><div class="profile_menu-item">Пароль</div></div>
                        <div class="profile_menu-divider"><div class="profile_menu-item">Анкета участника олимпиады</div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile_container">
                    <div class="photo_container">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="/frontend/src/assets/profile.png">
                            </div>
                            <div class="col-md-6">
                                <p class="photo_title">Фото профиля</p>
                                <p class="photo_subtitle">Только .jpg и .png файлы. Максимальный размер файла 500кб.</p>
                                <button class="photo_button">Заменить</button>
                            </div>
                        </div>
                    </div>
                    <div class="form_container">
                        <div class="profile_subtitle">Основная информация</div>
                        <div class="form_item">
                            <p class="form_label">Фамилия</p>
                            <input class="form_input" placeholder="Введите фамилию" type="text"
                                   [(ngModel)]="viewModel.userInfo.second_name">
                        </div>
                        <div class="form_item">
                            <p class="form_label">Имя</p>
                            <input class="form_input" placeholder="Введите имя" type="text"
                                   [(ngModel)]="viewModel.userInfo.first_name">
                        </div>
                        <div class="form_item">
                            <p class="form_label">Отчество</p>
                            <input class="form_input" placeholder="Введите отчество" type="text"
                                   [(ngModel)]="viewModel.userInfo.middle_name">
                        </div>
                        <div class="form_item">
                            <p class="form_label">Email</p>
                            <input class="form_input" placeholder="Введите email" type="email"
                                   [(ngModel)]="viewModel.userInfo.email">
                        </div>
                        <div class="form_item">
                            <p class="form_label">Номер телефона</p>
                            <input class="form_input" placeholder="Введите номер телефона" type="text"
                                   [(ngModel)]="viewModel.userInfo.phone">
                        </div>
                        <div class="profile_subtitle">Личные данные</div>
                        <div class="form_item">
                            <p class="form_label">Пол</p>
                            <select class="form_input" [(ngModel)]="viewModel.userInfo.gender">
                                <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
                            </select>
                        </div>
                        <div class="form_item">
                            <p class="form_label">Дата рождения</p>
                            <input class="form_input" placeholder="Введите дату рождения" type="date"
                                   [(ngModel)]="viewModel.userInfo.date_of_birth">
                        </div>
                        <div class="form_item">
                            <p class="form_label">Место рождения</p>
                            <input class="form_input" placeholder="Введите место рождения" type="text"
                                   [(ngModel)]="viewModel.userInfo.place_of_birth">
                        </div>
                    </div>
                    <div class="profile_subtitle">Паспортные данные</div>
                    <app-profile-edit-document [(model)]="viewModel.userInfoDocument">
                    </app-profile-edit-document>
                    <div class="profile_subtitle">Место регистрации</div>
                    <app-profile-edit-dwelling [(model)]="viewModel.userInfoDwelling">
                    </app-profile-edit-dwelling>
                    <div class="profile_subtitle">Особые условия при проведении олимпиад</div>
                    <app-profile-edit-limitations [(model)]="viewModel.userInfoLimitations">
                    </app-profile-edit-limitations>
                    <div class="profile_subtitle">Выпускающее образовательное учреждение</div>
                    <app-profile-edit-school [(model)]="viewModel.schoolInfo">
                    </app-profile-edit-school>

                    <div class="form_container">
                        <div class="form_item">
                            <button class="save" (click)="updateUserInfo(viewModel.userInfo)">Сохранить</button>
                            <button class="save" (click)="updateSchoolInfo(viewModel.schoolInfo)">Сохранить</button>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>
    </div>
</div>