<div class="profile-form_container">
    <div class="profile-form_item">
        <p class="profile-form_label">Тип документа</p>
        <select class="profile-form_input" [(ngModel)]="model.document_type" name="document_type" #document_type="ngModel" required>
            <option *ngFor="let documentType of documentTypes"
                    [ngValue]="documentType">{{ getDocumentDisplay( documentType ) }}</option>
        </select>
        <ng-container [ngTemplateOutlet]="validationTemplate"
                      [ngTemplateOutletContext]="{fieldName:document_type}">
        </ng-container>
    </div>
    <ng-container [ngSwitch]="model.document_type">
        <app-profile-edit-document-rfpassport [(model)]="model" *ngSwitchCase="'RFPassport'"></app-profile-edit-document-rfpassport>
        <app-profile-edit-document-rfinternationalpassport [(model)]="model" *ngSwitchCase="'RFInternationalPassport'"></app-profile-edit-document-rfinternationalpassport>
        <app-profile-edit-document-birthcertificate [(model)]="model" *ngSwitchCase="'BirthCertificate'"></app-profile-edit-document-birthcertificate>
        <app-profile-edit-document-foreignpassport [(model)]="model" *ngSwitchCase="'ForeignPassport'"></app-profile-edit-document-foreignpassport>
        <app-profile-edit-document-otherdocument [(model)]="model" *ngSwitchCase="'OtherDocument'"></app-profile-edit-document-otherdocument>
        <div *ngSwitchDefault></div>
    </ng-container>
</div>

<ng-template #validationTemplate let-fieldName='fieldName'>
    <div *ngIf="fieldName.invalid" class="input_error">
        <div *ngIf="fieldName.errors?.required">
            Поле обязательно для заполнения
        </div>
        <div *ngIf="fieldName.errors?.pattern">
            Значение введено некорректно
        </div>
    </div>
</ng-template>