<div class="profile-form_container">
    <div class="profile-form_item">
        <p class="profile-form_label">Страна</p>
        <input class="profile-form_input" type="text" readonly
               [(ngModel)]="locationRussia.country">
    </div>

    <div class="profile-form_item">
        <p class="profile-form_label">Регион</p>
        <ng-select [items]="regions$ | async"
                   bindLabel="name"
                   bindValue="name"
                   placeholder="Введите регион"
                   [(ngModel)]="selectedRegion"
                   (change)="onRegionChange()">
        </ng-select>
    </div>

    <div class="profile-form_item">
        <p class="profile-form_label">Населённый пункт</p>
        <ng-select [items]="cities$ | async"
                   bindLabel="name"
                   bindValue="name"
                   placeholder="Введите населённый пункт"
                   [(ngModel)]="selectedCity"
                   (change)="onCityChange()">
        </ng-select>
    </div>

    <div class="profile-form_item">
        <p class="profile-form_label">Являетесь ли вы жителем сельской местности?</p>
        <input class="profile-form_input" type="checkbox" [(ngModel)]="locationRussia.rural"
               (ngModelChange)="onModelChange()">
    </div>
</div>