<div class="profile-form_container">
    <div class="profile-form_item">
        <p class="profile-form_label">Страна</p>
        <input class="profile-form_input" type="text" readonly
               [(ngModel)]="locationRussia.country">
    </div>
    <div class="profile-form_item">
        <p class="profile-form_label">Регион</p>
        <input class="profile-form_input" type="text" placeholder="Введите регион"
               [ngModel]="locationRussia.city?.region_name ?? ''" (ngModelChange)="onRegionChange($event)">
    </div>
    <div class="profile-form_item">
        <p class="profile-form_label">Населённый пункт</p>
        <input class="profile-form_input" type="text" placeholder="Введите населённый пункт"
               [ngModel]="locationRussia.city?.name ?? ''" (ngModelChange)="onCityChange($event)">
    </div>
    <div class="profile-form_item">
        <p class="profile-form_label">Являетесь ли вы жителем сельской местности?</p>
        <input class="profile-form_input" type="checkbox" [(ngModel)]="locationRussia.rural"
               (ngModelChange)="onModelChange()">
    </div>
</div>