<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/simon-lee-zft-W1kVEhg-unsplash%201.png">
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="pb-5">
                <span class="not-found_subtitle" style="align-self: stretch">Страница находится в разработке</span>
            </div>
            <div class="pb-5">
                <a routerLink="/home" style="align-self: stretch">
                    <button class="org-button">Перейти на главную</button>
                </a>
            </div>
        </div>
    </div>
</div>