<ng-container *ngIf="viewModel$ | async as viewModel">
    <form name="schoolInfoForm" (ngSubmit)="schoolInfoForm.form.valid && onSubmit(this.viewModel)"
          #schoolInfoForm="ngForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <p class="profile-form_container_title">Анкета абитуриента</p>
                <p class="profile-form_container_subtitle">Пожалуйста заполните все поля вашего анкеты
                    абитуриента.</p>
            </div>
        </div>
        <div class="mt-4 mb-4 org-divider"></div>
        <div class="profile_subtitle">Учебное заведение</div>
        <div class="profile-form_container">
            <div class="profile-form_item">
                <p class="profile-form_label">Тип образовательного учреждения</p>
                <select class="profile-form_input" [(ngModel)]="viewModel.schoolInfo.school_type" name="school_type"
                        #school_type="ngModel" required>
                    <option *ngFor="let schoolType of schoolTypes"
                            [ngValue]="schoolType">{{ getSchoolTypeDisplay( schoolType ) }}</option>
                </select>
                <ng-container [ngTemplateOutlet]="validationTemplate"
                              [ngTemplateOutletContext]="{fieldName:school_type}">
                </ng-container>
            </div>
            <div class="profile-form_item">
                <p class="profile-form_label">Номер образовательного учреждения</p>
                <input class="profile-form_input" placeholder="Введите ноль, если нет номера" type="number"
                       name="number" #number="ngModel" required [(ngModel)]="viewModel.schoolInfo.number">
                <ng-container [ngTemplateOutlet]="validationTemplate"
                              [ngTemplateOutletContext]="{fieldName:number}">
                </ng-container>
            </div>
            <div class="profile-form_item">
                <p class="profile-form_label">Название образовательного учреждения</p>
                <textarea class="profile-form_input" placeholder="Введите название учреждения" type="text" name="name"
                          [maxLength]="128"
                          #name="ngModel" required [(ngModel)]="viewModel.schoolInfo.name"></textarea>
                <ng-container [ngTemplateOutlet]="validationTemplate"
                              [ngTemplateOutletContext]="{fieldName:name}">
                </ng-container>
            </div>
            <div class="profile-form_item">
                <p class="profile-form_label">Являюсь учащимся класса</p>
                <input class="profile-form_input" placeholder="Введите класс" type="number" name="grade"
                       #grade="ngModel" required [(ngModel)]="viewModel.schoolInfo.grade" min="1" max="11">
                <ng-container [ngTemplateOutlet]="validationTemplate"
                              [ngTemplateOutletContext]="{fieldName:grade}">
                </ng-container>
            </div>
            <app-profile-edit-dwelling [(model)]="viewModel.schoolLocation" [(city)]="viewModel.schoolLocationCity"
                                       [(country)]="viewModel.schoolLocationCountry">
            </app-profile-edit-dwelling>
            <div class="profile-form_container">
                <div class="profile-form_item">
                    <button class="button-action_default button-action_save" type="submit"
                            [disabled]="!schoolInfoForm.form.valid">Сохранить
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-container>

<ng-template #validationTemplate let-fieldName='fieldName'>
    <div *ngIf="fieldName.invalid" class="input_error">
        <div *ngIf="fieldName.errors?.required">
            Поле обязательно для заполнения
        </div>
        <div *ngIf="fieldName.errors?.min">
            Необходимо указать свой класс в пересчёте на систему образования РФ от 1 до 11 класса
        </div>
        <div *ngIf="fieldName.errors?.max">
            Необходимо указать свой класс в пересчёте на систему образования РФ от 1 до 11 класса
        </div>
    </div>
</ng-template>