@import "src/styles/colors";


.profile-form_item {
  padding: 2%;
  width: 60%;

  .profile-form_label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.32px;
    color: $black;
  }

  .profile-form_input {
    border-bottom: 2px solid $black;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    background-color: transparent;
  }
}
