<div class="form_container">
    <div class="form_item">
        <p class="form_label">Фамилия</p>
        <input class="form_input" placeholder="Введите фамилию" type="text"
               [(ngModel)]="model.second_name" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">Имя</p>
        <input class="form_input" placeholder="Введите имя" type="text"
               [(ngModel)]="model.first_name" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">Отчество</p>
        <input class="form_input" placeholder="Введите отчество" type="text"
               [(ngModel)]="model.middle_name" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">Дата рождения</p>
        <input class="form_input" placeholder="Введите дату рождения" type="date"
               [(ngModel)]="model.date_of_birth" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">Место рождения</p>
        <input class="form_input" placeholder="Введите место рождения" type="text"
               [(ngModel)]="model.place_of_birth" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">Email</p>
        <input class="form_input" placeholder="Введите email" type="email"
               [(ngModel)]="model.email" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">Номер телефона</p>
        <input class="form_input" placeholder="Введите номер телефона" type="text"
               [(ngModel)]="model.phone" (ngModelChange)="onModelChange()">
    </div>
</div>