<div class="tasks_list_item">
    <div class="task_title">
        Задание {{task.task_id}}. {{ task.task_type }} <br/>
        {{task.answers}}
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="task_image">
                <img [src]="taskImage" alt="Задание" class="img-fluid">
            </div>
        </div>
        <div class="col-md-4">
            <div class="task_actions">
                <p class="input_label">Ответ:</p>
                <textarea class="input_textarea" maxlength="1000" placeholder="Введите ответ"></textarea>
                <div class="input_file">
                    <p>Прикрепить файл</p>
                    <button>Загрузить файл</button>
                </div>
            </div>
        </div>
    </div>
</div>