<div class="tasks_list_item">
    <div class="task_title">
        Задание {{task.task_id}}<br/>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="task_image">
                <img [src]="imageUrl" alt="Задание" class="img-fluid pt-1 pb-1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="task_actions">
                <p class="input_label">Ответ</p>
                <input [(ngModel)]="answer" class="input_textarea" maxlength="100" placeholder="Введите свой ответ" type="number"
                       (focusout)="updateAnswer()" (keypress)="numberOnly($event)">
            </div>
        </div>
    </div>
</div>