<header *ngIf="(userInfo | async)?.role != 'Admin'; else adminHeader">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/mephi-logo.png" width="121" height="80" class="d-inline-block align-top" alt="">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item divider">
                <span>/</span>
            </li>
            <li class="nav-item">
                <span class="reg-number_title">Ваш регистрационный номер</span>
            </li>
            <li class="nav-item">
                <span class="reg-number">{{ ( userInfo | async )?.id ?? "Отсутствует" }}</span>
            </li>
        </ul>
        <div class="actions">
            <div class="button_container">
                <div class="user-info" *ngIf="userInfo | async as userInfo">
                    {{ userInfo.username }}
                </div>
            </div>
            <div class="button_container">
                <a class="button_logout" routerLink="/logout" routerLinkActive="active">Выход</a>
            </div>
        </div>
    </nav>
</header>
<ng-template #adminHeader>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
            <a class="navbar-brand" routerLink="/">
                <img src="/assets/mephi-logo.png" width="121" height="80" class="d-inline-block align-top" alt="">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item divider">
                    <span>/</span>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin/users" routerLinkActive="active">Управление пользователями</a>
                </li>
                <li class="nav-item divider">
                    <span>/</span>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin/olympiads" routerLinkActive="active">Управление олимпиадами</a>
                </li>
            </ul>
            <div class="actions">
                <div class="button_container">
                    <div class="button_logout">
                        <a routerLink="/admin">Admin</a>
                    </div>
                </div>
                <div class="button_container">
                    <div class="user-info" *ngIf="userInfo | async as userInfo">
                        {{ userInfo.username }}
                    </div>
                </div>
                <div class="button_container">
                    <a class="button_logout" routerLink="/logout" routerLinkActive="active">Выход</a>
                </div>
            </div>
        </nav>
    </header>
</ng-template>
