<form name="changePasswordForm" (ngSubmit)="changePasswordForm.form.valid && onSubmit()"
      #changePasswordForm="ngForm" novalidate>
    <div class="row">
        <div class="col-md-8">
            <p class="profile-form_container_title">Смена пароля</p>
            <p class="profile-form_container_subtitle">Введите свой старый и новый пароли.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-link" *ngIf="isPrivileged$ | async"
               routerLink="/manage">
                Администрирование
            </a>
            <button class="btn btn-link" (click)="logoutButtonClick()">Выйти</button>
        </div>
    </div>
    <div class="mt-4 mb-4 org-divider"></div>
<!--    <div class="profile_subtitle">Старый пароль</div>-->
    <div class="profile-form_container">

        <div class="profile-form_item">
            <p class="profile-form_label">Старый пароль</p>
            <input class="profile-form_input" placeholder="Введите старый пароль" type="text"
                   name="oldPassword" #oldPassword="ngModel" required [(ngModel)]="oldPasswordValue">
            <ng-container [ngTemplateOutlet]="validationTemplate"
                          [ngTemplateOutletContext]="{fieldName:oldPassword}">
            </ng-container>
        </div>

        <div class="profile-form_item">
            <p class="profile-form_label">Новый пароль</p>
            <input class="profile-form_input" placeholder="Введите новый пароль" type="text"
                   name="newPassword" #newPassword="ngModel" required [(ngModel)]="newPasswordValue">
            <ng-container [ngTemplateOutlet]="validationTemplate"
                          [ngTemplateOutletContext]="{fieldName:newPassword}">
            </ng-container>
        </div>

        <div class="profile-form_item">
            <p class="profile-form_label">Подтверждение нового пароля</p>
            <input class="profile-form_input" placeholder="Подтвердите новый пароль" type="text"
                   name="newPasswordConfirm" #newPasswordConfirm="ngModel" required [(ngModel)]="newPasswordConfirmValue">
            <ng-container [ngTemplateOutlet]="validationTemplate"
                          [ngTemplateOutletContext]="{fieldName:newPasswordConfirm}">
            </ng-container>
        </div>
        <div class="profile-form_container">
            <div class="profile-form_item">
                <button class="save" type="submit" [disabled]="!changePasswordForm.form.valid">Сохранить
                </button>
            </div>
        </div>
    </div>
</form>

<ng-template #validationTemplate let-fieldName='fieldName'>
    <div *ngIf="fieldName.invalid" class="input_error">
        <div *ngIf="fieldName.errors?.required">
            Поле обязательно для заполнения
        </div>
        <div *ngIf="fieldName.errors?.phoneNumberValid === false">
            Номер телефона введен неправильно
        </div>
    </div>
</ng-template>