<form class="profile-form_container" [formGroup]="userLimitationsForm">
    <div class="profile-form_item">
        <p class="profile-form_label">Нуждаетесь ли вы в особых условиях участия в связи с ограниченными возможностями по
            слуху?</p>
        <input class="profile-form_input" type="checkbox" formControlName="hearing">
    </div>
    <div class="profile-form_item">
        <p class="profile-form_label">Нуждаетесь ли вы в особых условиях участия в связи с ограниченными возможностями по
            зрению?</p>
        <input class="profile-form_input" type="checkbox" formControlName="sight">
    </div>
    <div class="profile-form_item">
        <p class="profile-form_label">Нуждаетесь ли вы в особых условиях участия в связи с ограниченными возможностями
            опорно-двигательного аппарата?</p>
        <input class="profile-form_input" type="checkbox" formControlName="movement">
    </div>
</form>