<div class="form_container">
    <div class="form_item">
        <p class="form_label">sight</p>
        <input class="form_input" type="checkbox"
               [(ngModel)]="limitations.sight" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">movement</p>
        <input class="form_input" type="checkbox"
               [(ngModel)]="limitations.movement" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">hearing</p>
        <input class="form_input" type="checkbox"
               [(ngModel)]="limitations.hearing" (ngModelChange)="onModelChange()">
    </div>
</div>