<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="home_title_container">
                <div class="home_title">
                    Новости
                </div>
                <div class="home_subtitle">
                    «Я — профессионал» — масштабная образовательная олимпиада нового формата для студентов разных
                    специальностей: технических, гуманитарных и естественнонаучных.
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ng-container>
                <app-news-list-item
                    newsType="Олимпиада «Росатом»"
                    newsTitle="Заключительный тур олимпиады «Росатом»"
                    newsText="«Я — профессионал» — масштабная образовательная олимпиада нового формата для студентов разных специальностей: технических, гуманитарных и естественнонаучных."
                    newsDate="03.09.2021"
                    newsImage="1">
                </app-news-list-item>
                <app-news-list-item
                    newsType="Инженерная олимпиада"
                    newsTitle="Отборочный тур олимпиады инженерной олимпиады"
                    newsText="«Я — профессионал» — масштабная образовательная олимпиада нового формата для студентов разных специальностей: технических, гуманитарных и естественнонаучных."
                    newsDate="03.09.2021"
                    newsImage="2">
                </app-news-list-item>
                <app-news-list-item
                    newsType="Олимпиада «Росатом»"
                    newsTitle="Обновление регламента олимпиады «Росатом» по физике"
                    newsText="«Я — профессионал» — масштабная образовательная олимпиада нового формата для студентов разных специальностей: технических, гуманитарных и естественнонаучных."
                    newsDate="03.09.2021"
                    newsImage="3">
                </app-news-list-item>
            </ng-container>
        </div>
    </div>
</div>