<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="profile_title_container">
                <div class="profile_title">
                    Профиль пользователя
                </div>
                <div class="profile_subtitle">
                    <div class="profile_menu-divider" routerLinkActive="profile-form_item_disabled">
                        <div class="profile_menu-item profile_menu-item-active">
                            <a routerLink="userinfo">Основная информация</a>
                        </div>
                    </div>
                    <div class="profile_menu-divider" routerLinkActive="profile-form_item_disabled">
                        <div class="profile_menu-item">
                            <a routerLink="schoolinfo">Школа</a>
                        </div>
                    </div>
                    <div class="profile_menu-divider" routerLinkActive="profile-form_item_disabled">
                        <div class="profile_menu-item">
                            <a routerLink="password">Пароль</a>
                        </div>
                    </div>
                    <div class="profile_menu-divider" (click)="download()">
                        <div class="profile_menu-item">Анкета участника олимпиады</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile_container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>