<ng-container *ngIf="token$ | async as token; else tokenNotFound">
    <div class="form_container">
        <h2 class="form_title">Смена пароля</h2>
        <p class="form_subtitle">Введите новый пароль</p>
        <form name="changePasswordForm" (ngSubmit)="changePasswordForm.form.valid && onSubmit( token )"
              #changePasswordForm="ngForm" novalidate>
            <div class="form_group">

                <p class="form_label">Новый пароль</p>
                <input type="password" placeholder="Введите новый пароль"
                       name="newPassword" #newPassword="ngModel" [(ngModel)]="newPasswordValue" required
                       appPasswordValidator minlength="8">
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                     class="input_error">
                    <div *ngIf="newPassword.errors?.required">
                        Поле обязательно для заполнения
                    </div>
                    <div *ngIf="newPassword.errors?.minlength">
                        Пароль должен содержать не менее 8-ти символов
                    </div>
                    <div *ngIf="newPassword.errors?.passwordStrength">
                        Пароль должен содержать заглавные, строчные буквы английского алфавита и цифры
                    </div>
                </div>

                <p class="form_label">Подтверждение нового пароля</p>
                <input type="password" placeholder="Подтвердите новый пароль"
                       name="newPasswordConfirm" #newPasswordConfirm="ngModel"
                       [(ngModel)]="newPasswordConfirmValue" required>
                <div
                    *ngIf="newPasswordConfirm.invalid && (newPasswordConfirm.dirty || newPasswordConfirm.touched)"
                    class="input_error">
                    <div *ngIf="newPasswordConfirm.errors?.required">
                        Поле обязательно для заполнения
                    </div>
                    <div *ngIf="newPasswordValue !== newPasswordConfirmValue" class="input_error">
                        <div>
                            Пароли должны совпадать
                        </div>
                    </div>
                </div>
            </div>

            <div class="form_group">
                <button class="button-action_default button-action_save" type="submit"
                        [disabled]="!changePasswordForm.form.valid">Сохранить
                </button>
            </div>

            <app-auth-layout-links></app-auth-layout-links>
        </form>
    </div>
</ng-container>

<ng-template #tokenNotFound>
    <div class="form_container">
        <h2 class="form_title">Произошла ошибка</h2>
        <p class="form_subtitle">Попробуйте ещё раз</p>
    </div>
</ng-template>