<div class="container">
    <a routerLink="/">
        <img src="/assets/mephi-logo.png" class="img-responsive img-static">
    </a>
    <div class="row">
        <div class="col-md-8">
            <h1 class="title">Информационная система «Абитуриент-студент»</h1>
            <div class="image">
                <img src="/assets/login.png" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form_container">
                <h2 class="form_title">Проверьте ваш email</h2>
                <p class="form_subtitle">Мы отправили инструкцию для сброса пароля на ваш email: {{ email$ | async }}</p>
                <div class="form_group">
                    <p class="auth-text_help">Уже есть учётная запись? <a [routerLink]="'/login'">Войти в систему</a></p>
                    <p class="auth-text_help">Ещё нет учётной записи? <a [routerLink]="'/register'">Зарегистрироваться</a></p>
                    <p class="auth-text_help">Если у вас возникли проблемы при регистрации или вводе информации, обращайтесь:
                        orgnew@mephi.ru</p>
                </div>
            </div>

        </div>
    </div>

    <span class="copyright">© 2021, НИЯУ «МИФИ»</span>
</div>