.olymp_title_container, .olymp_stages {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.olymp_title_container {
  padding-top: 10%;

  .olymp_status {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px;
    width: 142px;
    height: 32px;
    background: #171717;
    border-radius: 18px;


    span {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.32px;
      color: #FFFFFF;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 4px;
    }
  }

  .olymp_title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    color: #171717;
    padding-top: 10%;
  }

  .olymp_subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10%;

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #565656;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    span:not(:first-child) {
      margin: 0 16px;
    }
  }

  .olymp_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #0055BB;
      flex: none;
      order: 2;
      flex-grow: 0;
    }
  }
}

.olymp_stages {
  .olymp_stages_content {
    padding-left: 4%;
    border-left: 2px solid #171717;
  }

  .olymp_stage_title {

    svg {
      position: relative;
      margin-left: -7.3%;
    }
  }

  .olymp_stage_content {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .stage_action {
    padding-top: 3%;
    padding-bottom: 3%;

    .stage_action_button {
      width: 100%;
      height: 50px;
      background: #0055BB;
      border: none;
      color: #FFFFFF;
    }
  }
}


.divider {
  background: #171717;
  height: 2px;
  width: 100%;
}