<ng-container *ngIf="contest$ | async as contest">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="olymp_title_container">
                    <div class="olymp_status">
                        <span>{{ getStatusForDisplay( contest ) }}</span>
                    </div>
                    <div class="olymp_title">
                        {{ contest.base_contest?.name }}
                    </div>
                    <div class="olymp_subtitle">
                        <span>{{ getTargetClassesDisplay( contest ) }}</span>
                        <span>{{ getSubjectDisplay( contest ) }}</span>
                        <span>Уровень {{ contest.base_contest?.level }}</span>
                    </div>
                    <div class="olymp_links">
                        <a href="https://olymp.mephi.ru/rosatom/about">Сайт олимпиады</a>
                        <a href="https://olymp.mephi.ru/rosatom/about/docs/reg">Регламент олимпиады</a>
                        <a href="https://olymp.mephi.ru/rosatom/about/docs/pol">Положение олимпиады</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="timeline">
                    <div class="timeline_container">
                        <div class="olymp_stage" #stage1>
                            <div class="olymp_stage_title">
                                Заполнение анкеты
                                <div class="divider"></div>
                            </div>
                            <div class="olymp_stage_content">
                                <div class="row">
                                    <div class="col-md-1">
                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M21.4 7C22.2 6.2 22.2 5 21.4 4.2L17.8 0.6C17 -0.2 15.8 -0.2 15 0.6L0 15.6V22H6.4L21.4 7ZM16.4 2L20 5.6L17 8.6L13.4 5L16.4 2ZM2 20V16.4L12 6.4L15.6 10L5.6 20H2Z"
                                                fill="#565656"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-6">Для участия в олимпиаде НИЯУ МИФИ, вам необходимо заполнить
                                        анкету участника олимпиады
                                    </div>
                                    <div class="col-md-5">
                                        <div class="stage_action">
                                            <a [routerLink]="['/profile']">
                                                <button
                                                    class="stage_action_button">{{ getProfileText( isFilledProfile$ | async ) }}</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline_container">
                        <div class="olymp_stage" #stage2>
                            <div class="olymp_stage_title">
                                Отборочный этап
                                <div class="divider"></div>
                            </div>
                            <div class="olymp_stage_content">
                                <div class="row">
                                    <div class="col-md-1">
                                        <svg width="24" height="16" viewBox="0 0 24 16" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 0V2H5V9C5 10.8565 5.7375 12.637 7.05025 13.9497C8.36301 15.2625 10.1435 16 12 16C13.8565 16 15.637 15.2625 16.9497 13.9497C18.2625 12.637 19 10.8565 19 9V2H24V0H0ZM7 2H17V5H7V2ZM12 14C10.6739 14 9.40215 13.4732 8.46447 12.5355C7.52678 11.5979 7 10.3261 7 9V7H17V9C17 10.3261 16.4732 11.5979 15.5355 12.5355C14.5979 13.4732 13.3261 14 12 14Z"
                                                fill="#565656"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-6">
                                        {{ contest.base_contest?.description }}
                                    </div>
                                    <div class="col-md-5">
                                        <div class="stage_action">
                                            <a [routerLink]="['registration']">
                                                <button class="stage_action_button"
                                                        [disabled]="!(isFilledProfile$ | async)">Принять участие
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="timeline_container">
                        <div class="olymp_stage" #stage3>
                            <div class="olymp_stage_title">
                                Итоги отборочного этапа
                                <div class="divider"></div>
                            </div>
                            <div class="olymp_stage_content">
                                <div class="row">
                                    <div class="col-md-1">
                                        <svg width="20" height="28" viewBox="0 0 20 28" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18 12H16V6C16 4.4087 15.3679 2.88258 14.2426 1.75736C13.1174 0.632141 11.5913 0 10 0C8.4087 0 6.88258 0.632141 5.75736 1.75736C4.63214 2.88258 4 4.4087 4 6V12H2C1.46957 12 0.960859 12.2107 0.585786 12.5858C0.210714 12.9609 0 13.4696 0 14V26C0 26.5304 0.210714 27.0391 0.585786 27.4142C0.960859 27.7893 1.46957 28 2 28H18C18.5304 28 19.0391 27.7893 19.4142 27.4142C19.7893 27.0391 20 26.5304 20 26V14C20 13.4696 19.7893 12.9609 19.4142 12.5858C19.0391 12.2107 18.5304 12 18 12ZM6 6C6 4.93913 6.42143 3.92172 7.17157 3.17157C7.92172 2.42143 8.93913 2 10 2C11.0609 2 12.0783 2.42143 12.8284 3.17157C13.5786 3.92172 14 4.93913 14 6V12H6V6ZM18 26H2V14H18V26Z"
                                                fill="#565656"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-6">
                                        Данный раздел в настоящее время для вас не доступен
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="timeline_container">
                        <div class="olymp_stage" #stage4>
                            <div class="olymp_stage_title">
                                Регистрация на заключительный этап
                                <div class="divider"></div>
                            </div>
                            <div class="olymp_stage_content">
                                <div class="row">
                                    <div class="col-md-1">
                                        <svg width="20" height="28" viewBox="0 0 20 28" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18 12H16V6C16 4.4087 15.3679 2.88258 14.2426 1.75736C13.1174 0.632141 11.5913 0 10 0C8.4087 0 6.88258 0.632141 5.75736 1.75736C4.63214 2.88258 4 4.4087 4 6V12H2C1.46957 12 0.960859 12.2107 0.585786 12.5858C0.210714 12.9609 0 13.4696 0 14V26C0 26.5304 0.210714 27.0391 0.585786 27.4142C0.960859 27.7893 1.46957 28 2 28H18C18.5304 28 19.0391 27.7893 19.4142 27.4142C19.7893 27.0391 20 26.5304 20 26V14C20 13.4696 19.7893 12.9609 19.4142 12.5858C19.0391 12.2107 18.5304 12 18 12ZM6 6C6 4.93913 6.42143 3.92172 7.17157 3.17157C7.92172 2.42143 8.93913 2 10 2C11.0609 2 12.0783 2.42143 12.8284 3.17157C13.5786 3.92172 14 4.93913 14 6V12H6V6ZM18 26H2V14H18V26Z"
                                                fill="#565656"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-6">
                                        Данный раздел в настоящее время для вас не доступен
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="timeline_container">
                        <div class="olymp_stage" #stage5>
                            <div class="olymp_stage_title">
                                Итоги отборочного этапа
                                <div class="divider"></div>
                            </div>
                            <div class="olymp_stage_content">
                                <div class="row">
                                    <div class="col-md-1">
                                        <svg width="20" height="28" viewBox="0 0 20 28" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18 12H16V6C16 4.4087 15.3679 2.88258 14.2426 1.75736C13.1174 0.632141 11.5913 0 10 0C8.4087 0 6.88258 0.632141 5.75736 1.75736C4.63214 2.88258 4 4.4087 4 6V12H2C1.46957 12 0.960859 12.2107 0.585786 12.5858C0.210714 12.9609 0 13.4696 0 14V26C0 26.5304 0.210714 27.0391 0.585786 27.4142C0.960859 27.7893 1.46957 28 2 28H18C18.5304 28 19.0391 27.7893 19.4142 27.4142C19.7893 27.0391 20 26.5304 20 26V14C20 13.4696 19.7893 12.9609 19.4142 12.5858C19.0391 12.2107 18.5304 12 18 12ZM6 6C6 4.93913 6.42143 3.92172 7.17157 3.17157C7.92172 2.42143 8.93913 2 10 2C11.0609 2 12.0783 2.42143 12.8284 3.17157C13.5786 3.92172 14 4.93913 14 6V12H6V6ZM18 26H2V14H18V26Z"
                                                fill="#565656"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-6">
                                        Заключительный этап
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>