<div class="progress-loader" [hidden]="!loading">
    <div class="loading-spinner">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block;" width="300px" height="300px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <path d="M0 50A50 50 0 0 0 100 50A50 53 0 0 1 0 50" fill="#3e57a7" stroke="none">
                <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 51.5;360 50 51.5"></animateTransform>
            </path>
        </svg>
    </div>
</div>