<div class="container">
    <a routerLink="/">
        <img src="/assets/mephi-logo.png" class="img-responsive img-static">
    </a>
    <div class="row">
        <div class="col-md-8">
            <h1 class="title">Информационная система «Абитуриент-студент»</h1>
            <div class="image">
                <img src="/assets/login.png" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form_container">
                <h2 class="form_title">Вход в систему</h2>
                <p class="form_subtitle">Авторизуйтесь чтобы войти в систему</p>
                <div class="form_group">
                    <p class="form_label">Email</p>
                    <input type="email" email required [(ngModel)]="loginAttempt.username"
                           #email="ngModel"
                           name="email"
                           placeholder="Введите Email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                         class="input_error">
                        <div *ngIf="email.errors?.required">
                            Поле обязательно для заполнения
                        </div>
                        <div *ngIf="email.errors?.email">
                            Невалидный e-mail
                        </div>
                    </div>
                    <p class="form_label">Пароль</p>
                    <input [(ngModel)]="loginAttempt.password" placeholder="Введите пароль" type="password">
                    <p class="form_label">
                        <a routerLink="/reset-password">Восстановить пароль</a>
                    </p>
                    <button [disabled]="!isValid(this.loginAttempt)"
                            (click)="login(this.loginAttempt)">Войти
                    </button>
                    <p class="auth-text_help">Ещё нет учётной записи? <a [routerLink]="'/register'">Зарегистрироваться</a></p>
                    <p class="auth-text_help">Если у вас возникли проблемы при регистрации или вводе информации, обращайтесь: orginfo@mephi.ru</p>
                </div>
            </div>

        </div>
    </div>

    <span class="copyright">© 2021, НИЯУ «МИФИ»</span>
</div>