<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="home_title_container">
                <div class="home_title">
                    Добро пожаловать,
                    <ng-container *ngIf="personalInfo$ | async as personalInfo">
                        {{ personalInfo.first_name }} {{ personalInfo.middle_name }}!
                    </ng-container>
                </div>
                <div class="home_subtitle">
                    Олимпиады НИЯУ МИФИ - масштабные всероссийские мепроприятия в которых вы можете продемонстрировать
                    свои способности в точных науках, мы рады вашему участию!
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="actions_list">
                <div class="row">
                    <div class="col-md-6">
                        <app-video-container>
                            <div class="org-divider"></div>
                            <div class="video-container-overlay actions_list_item">
                                <div class="actions_title">
                                    <span>Поступление в НИЯУ «МИФИ»</span>
                                </div>
                                <div class="actions_divider"></div>
                                <div class="actions_links">
                                    <a routerLink="/in-development">Поступление в НИЯУ «МИФИ»</a>
                                    <a routerLink="/in-development">Поступление в предуниверситарий</a>
                                </div>
                            </div>
                            <div class="org-divider"></div>
                        </app-video-container>
                    </div>
                    <div class="col-md-6">
                        <app-video-container>
                            <div class="org-divider"></div>
                            <div class="video-container-overlay actions_list_item">
                                <div class="actions_title">
                                    <span>Сервисы НИЯУ «МИФИ»</span>
                                </div>
                                <div class="actions_divider"></div>
                                <div class="actions_links">
                                    <a routerLink="/profile">Заполнить анкету участника</a>
                                    <a routerLink="/in-development">Оформить пропуск в НИЯУ «МИФИ»</a>
                                    <a (click)="download()">Печать карточки участника</a>
                                </div>
                            </div>
                            <div class="org-divider"></div>
                        </app-video-container>
                    </div>
                    <div class="col-md-6">
                        <app-video-container>
                            <div class="video-container-overlay actions_list_item">
                                <div class="actions_title">
                                    <span>Конкурсы и олимпиады</span>
                                </div>
                                <div class="actions_divider"></div>
                                <div class="actions_links">
                                    <a routerLink="/contests">Список конкурсов и олимпиад</a>
                                </div>
                            </div>
                            <div class="org-divider"></div>
                        </app-video-container>
                    </div>
                    <div class="col-md-6">
                        <app-video-container>
                            <div class="video-container-overlay actions_list_item">
                                <div class="actions_title">
                                    <span>Результаты участия</span>
                                </div>
                                <div class="actions_divider"></div>
                                <div class="actions_links">
                                    <!--                                    <a routerLink="/contests/results">Посмотреть результаты</a>-->
                                    <a routerLink="/in-development">Посмотреть результаты</a>
                                </div>
                            </div>
                            <div class="org-divider"></div>
                        </app-video-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>