<div class="form_container">
    <div class="form_item">
        <p class="form_label">location_type</p>
        <input class="form_input" type="text" readonly
               [ngModel]="dwelling.location_type" (ngModelChange)="onModelChange()">
    </div>
    <div class="form_item">
        <p class="form_label">country</p>
        <input class="form_input" type="text" readonly
               [(ngModel)]="dwelling.country">
    </div>
    <div class="form_item">
        <p class="form_label">city.region_name</p>
        <input class="form_input" type="text"
               [ngModel]="dwelling.city?.region_name ?? ''" (ngModelChange)="onRegionChange($event)">
    </div>
    <div class="form_item">
        <p class="form_label">city.name</p>
        <input class="form_input" type="text"
               [ngModel]="dwelling.city?.name ?? ''" (ngModelChange)="onCityChange($event)">
    </div>
    <div class="form_item">
        <p class="form_label">rural</p>
        <input class="form_input" type="checkbox"
               [(ngModel)]="dwelling.rural" (ngModelChange)="onModelChange()">
    </div>
</div>