<div class="profile-form_container">
    <div class="profile-form_item">
        <p class="profile-form_label">Расположение</p>
        <select class="profile-form_input" [(ngModel)]="selectedValue">
            <option *ngFor="let locationType of locationTypes"
                    [ngValue]="locationType">{{ getLocationDisplay( locationType ) }}</option>
        </select>
    </div>
    <ng-container [ngSwitch]="selectedValue">
        <app-profile-edit-dwelling-russia [(model)]="model"
                                          *ngSwitchCase="'Russian'"></app-profile-edit-dwelling-russia>
        <app-profile-edit-dwelling-other [(model)]="model"
                                         *ngSwitchCase="'Foreign'"></app-profile-edit-dwelling-other>
        <div *ngSwitchDefault></div>
    </ng-container>
</div>


<ng-template #validationTemplate let-fieldName='fieldName'>
    <div *ngIf="fieldName.invalid" class="input_error">
        <div *ngIf="fieldName.errors?.required">
            Поле обязательно для заполнения
        </div>
        <div *ngIf="fieldName.errors?.phoneNumberValid === false">
            Номер телефона введен неправильно
        </div>
        <div *ngIf="fieldName.errors?.pattern">
            Значение введено некорректно
        </div>
    </div>
</ng-template>