<div class="form_container">
    <div class="form_item">
        <p class="form_label">Страна</p>
        <input class="form_input" type="text" readonly
               [(ngModel)]="model.country">
    </div>
    <div class="form_item">
        <p class="form_label">Регион</p>
        <input class="form_input" type="text" placeholder="Введите регион"
               [ngModel]="model.city?.region_name ?? ''" (ngModelChange)="onRegionChange($event)">
    </div>
    <div class="form_item">
        <p class="form_label">Населённый пункт</p>
        <input class="form_input" type="text" placeholder="Введите населённый пункт"
               [ngModel]="model.city?.name ?? ''" (ngModelChange)="onCityChange($event)">
    </div>
    <div class="form_item">
        <p class="form_label">Являетесь ли вы жителем сельской местности?</p>
        <app-yes-no-component radioId="rural" [(model)]="model.rural"
                              (modelChange)="onModelChange()"></app-yes-no-component>
    </div>
</div>