@import "src/styles/colors";

.olymp_title_container, .olymp_list {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.olymp_title_container {
  padding-top: 10%;

  .olymp_title {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    color: #171717;
  }

  .olymp_subtitle {
    padding-top: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
  }
}

.not-found_subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: $grey;
}