<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="olymp_title_container">
                <div class="olymp_title">
                    Список олимпиад НИЯУ «МИФИ»
                </div>
                <div class="olymp_subtitle">
                    «Я — профессионал» — масштабная образовательная олимпиада нового формата для студентов разных
                    специальностей: технических, гуманитарных и естественнонаучных.
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="olymp_list">
                <div class="row">
                    <ng-container *ngIf="contests$ | async as contests">
                        <div class="col-md-6" *ngFor="let contest of contests; index as i">
                            <app-video-container>
                                <div class="org-divider" *ngIf="i === 0 || i === 1"></div>
                                <app-contest-list-item [contest]="contest" class="video-container-overlay"></app-contest-list-item>
                            </app-video-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>