<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="olymp_title_container">
                <div class="olymp_title">
                    Список олимпиад НИЯУ «МИФИ»
                </div>
                <div class="olymp_subtitle">
                    «Я — профессионал» — масштабная образовательная олимпиада нового формата для студентов разных
                    специальностей: технических, гуманитарных и естественнонаучных.
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="olymp_list">
                <div class="row">
                    <ng-container *ngIf="contests$ | async as contests">
                        <div class="col-md-6" *ngFor="let contest of contests">
                            <div class="olymp_list_item">
                                <div class="olymp_status">
                                    <span>СЛОТ Статус олимпиады</span>
                                </div>
                                <div class="olymp_subtitle">
                                    <span>{{ getTargetClassesDisplay( contest ) }}</span>
                                    <span>{{ contest.base_contest?.subject }}</span>
                                    <span>СЛОТ Уровень 1 ?????</span>
                                </div>

                                <div class="olymp_title">
                                    {{ contest.base_contest.name }}
                                </div>

                                <div class="olymp_link">
                                    <a (click)="navigateTo(contest)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                             viewBox="0 0 32 32" fill="none">
                                            <path
                                                d="M18 6L16.57 7.393L24.15 15H4V17H24.15L16.57 24.573L18 26L28 16L18 6Z"
                                                fill="#171717"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</div>