<!--<div class="form-check_container">-->
<!--    <div class="form-check">-->
<!--        <input class="form-check-input" type="radio" ngDefaultControl [name]="nameYes()" [id]="nameYes()"-->
<!--               [checked]="model === true"-->
<!--               (click)="onChecked(true)">-->
<!--        <label class="form-check-label" [for]="nameYes()">-->
<!--            Да-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-check ms-3">-->
<!--        <input class="form-check-input" type="radio" ngDefaultControl [name]="nameNo()" [id]="nameNo()"-->
<!--               [checked]="model === false"-->
<!--               (click)="onChecked(false)">-->
<!--        <label class="form-check-label" [for]="nameNo()">-->
<!--            Нет-->
<!--        </label>-->
<!--    </div>-->
<!--</div>-->
<input class="form_input" type="checkbox" [(ngModel)]="model">