<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
<p>Поступил запрос на изменение вашего пароля на портале олимпиад Национального исследовательского ядерного университета "МИФИ"</p>
<p></p>
<p>Если вы не запрашивали новый пароль, проигнорируйте это сообщение. Возможно кто-то пытается получить доступ к вашему аккаунту.</p>
<p></p>
<p>Перейдите по этой ссылке, чтобы изменить пароль:<a href="https://orgnew.mephi.ru/auth/reset-password/success?token={{ reset_token }}">https://orgnew.mephi.ru/auth/reset-password/success?token={{ reset_token }}</a></p>
<p></p>
<p>Ваша ссылка действительна в течение 24 часов.</p>
<p></p>
<p>Если вы не запрашивали это действие, сообщите нам об этом.</p>
</body>
</html>