<div class="container">
    <a routerLink="/">
        <img src="/assets/mephi-logo.png" class="img-responsive img-static">
    </a>
    <div class="row">
        <div class="col-md-8">
            <h1 class="title">Информационная система «Абитуриент-студент»</h1>
            <div class="image">
                <img src="/assets/login.png" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4">
            <ng-container *ngIf="!!token; else tokenNotFound">
                <div class="form_container">
                    <h2 class="form_title">Учётная запись активирована</h2>
                    <p class="form_subtitle">Спасибо, что активировали свою учётную запись. Теперь вы можете войти в
                        систему используя логин и пароль, указанный при регистрации.</p>
                    <div class="form_group">
                        <button routerLink="/login" class="button-action_default button-action_save">Войти в систему</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <span class="copyright">© 2021, НИЯУ «МИФИ»</span>
</div>

<ng-template #tokenNotFound>
    <div class="form_container">
        <h2 class="form_title">Произошла ошибка</h2>
        <p class="form_subtitle">Попробуйте ещё раз</p>
    </div>
</ng-template>